*{
  margin: 0px;
  padding: 0px;
  list-style: none !important;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FCFCFC;
  width: 100%;
  height: 100%;
  position: fixed;
}

/************** Cabeçalho **************/
#header{
  background-image: linear-gradient( to bottom,
  #ffe71273,#FFC700 );
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}


/*MAIN*/ 

/************** Grid Colunas **************/
#coluna-lateral{
  grid-area: lateral;
}

#coluna-principal{
  grid-area: principal;
} 

.flex{
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100% 100% ;
  grid-template-areas:
		"lateral principal"
	;
}

.flex > div{
  width: 100%;
  height: 900px; 
}

/************** Organização das colunas **************/

#coluna-lateral{
  height: 100%;
  width: 100%;
  max-width: 1800px;
  background-color: #e6e6e61f;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.116);
}

#coluna-lateral ul li button{
  border-right: none!important;
  border-left: none!important;
  border-top: none!important;
  border-bottom: 1px solid #ffffff;
  background: none;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  font-size: 1.2em;
  cursor: pointer;
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#coluna-lateral ul li button:hover{
 background-color: rgb(236, 236, 236);
 color: rgb(0, 0, 0);
}

/*** Efeito botões de paginação ***/
#btn-contact,
#btn-viwnCreateContact{
  cursor: default;
  color: #919191;
}


/************** Container de Visualizar contatos **************/

/*Usado para dar efeito de rolagem na página*/
.scroll{
  overflow-y: scroll;
}

.grid {
	display: grid;
}
.cabecalho {
	grid-area: cabecalho;
}

.container-contatos {
	grid-area: contatos;
}

.container-btn {
	grid-area: botao;
}

.grid-template-areas-1 {
	grid-template-columns: 80% 20%;
	grid-template-rows: 150px ;
	grid-template-areas:
		"contatos botao"
		"contatos botao"
	;
}

.cabecalho{
  margin: 10px 20px;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.container-contatos{
  border-bottom: 1px solid rgb(196, 196, 196);
  margin-left: 20px;
  display: flex;
  
}
.container-contatos span{
  margin: 20px;
  font-size: 25px;
  color: #bdbcbc;
  position: relative;
  top: 50px;
  
 }

.container-contatos p{
  margin-top: 18px;
  letter-spacing: 1px;
}

.container-btn{
  border-bottom: 1px solid rgb(196, 196, 196);
}

.container-btn button{
  background: rgb(255, 255, 255);
  color: #919191;
  border: none;
  border-radius: 50%;
  padding: 12px;
  margin-top: 85px;
  font-size: 15px;
  cursor: pointer;
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#edit-contact{
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#delete-contact{
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}


.container-btn button:hover{
  transition:  all 0.5s;
  background-color: rgb(236, 236, 236);
}

/*** Manipulação div para editar contatos ***/
.edit-contact{
  position:absolute;
  top: 250px;
  left: 800px;
  width: 371px;
  height: 500px;
  z-index: 10;
  border-radius: 10px ;
  background: #eeeeee;
}

.titulo {
	grid-area: titulo;
}

.exit {
	grid-area: exit;
}

.header-edit{
  border-radius:10px 10px 0px 0px;
  background-image: linear-gradient( to bottom,
  #ffe71273,#FFC700 );
  height: 50px;
  display: grid;
  grid-template-columns: 90% 10%;
	grid-template-rows: 50px ;
	grid-template-areas:
		"titulo exit"
	;
}

.header-edit p{
  margin-top: 5px;
  margin-left: 20px;
  font-size: 1.5em;
}

.header-edit button{
  border: none;
  background: none;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 1.5em;
  cursor: pointer;
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.form-edit{
   padding-top: 20px;
   padding-left: 20px;
}

/************** Container de Criar Contatos **************/
#formulario{
  margin-top: 20px;
  margin-left: 40px;
}

.nome {
	grid-area: nome;
}

.email {
  grid-area: email;
}

.telefone{
  grid-area: telefone;
}
.btn-enviar{
  grid-area: botao;
}

.conteudo-extra{
  grid-area: lateral;
}

.error-box{
  grid-area: message;
}

.grid-template-areas-2 {
  display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 80px 80px 80px 50px 480px;
	grid-template-areas:
		"nome lateral"
    "email lateral"
    "telefone lateral"
    "botao lateral"
    "message lateral"
    ;
}

/*** Barra de menu ***/
.nome input,
.email input,
.telefone input{
  position: relative;
  bottom: 12px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  height: 35px;
  width: 320px;
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.nome input:hover,
.email input:hover,
.telefone input:hover{
  border: 2px solid rgb(129, 129, 129);
}

.nome p,
.email p,
.telefone p{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 1.3em;
}

.btn-enviar button{
  font-family: 'Reem Kufi', sans-serif;
  margin-top: 10px;
  margin-left: 218px;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.btn-enviar button:hover{
  background: #f5f5f5;
}

/*** Barra lateral ***/
.conteudo-extra{
  border-left: 1px solid rgb(172, 172, 172);
  padding: 0px 80px;
}

.conteudo-extra p{
  width: 100%;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

/** Caixa de mensagem **/
.error-box-success{
  border: 2px solid rgba(0, 255, 115, 0.151);
  border-radius: 10px;
  background-color: #03fa2411;
  margin-top: 30px;
  height: 100px;
  width: 800px;
}

.error-box-success p{
  margin-top: 30px;
  font-size: 1.5em;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  color: #3cff00;
}

.error-box-success-dois{
  border: 2px solid rgba(0, 255, 115, 0.151);
  border-radius: 10px;
  background-color: #03fa2411;
  margin-top: 20px;
  height: 100px;
  width: 330px;
}

.error-box-success-dois p{
  margin-top: 15px;
  font-size: 1.5em;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  color: #3cff00;
}

.error-box-erro{
  border: 2px solid rgba(255, 0, 0, 0.151);
  border-radius: 10px;
  background-color: #fa030311;
  margin-top: 30px;
  height: 100px;
  width: 800px;
}

.error-box-erro p{
  margin-top: 30px;
  font-size: 1.5em;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  color: #ff0000;
}

@media screen and (min-width:300px) and (max-width:425px){

  body{
    position: relative;
  }

  .none{
    display: none;
  }

  #coluna-lateral{
    grid-area: lateral;
  }

  #coluna-principal{
    grid-area: principal;
  } 

  .flex{
    display: grid;
    grid-template-columns: 10% 90%;
	  grid-template-rows: 100px 100% ;
	  grid-template-areas:
		"lateral lateral"
    "principal principal" 
    ;

  }

  .flex > div{
    width: 100%;
    height: 100%;
  }

  /* Coluna Vizualizar contatos */
  .grid-template-areas-1 {
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 0px;
    grid-template-areas:
      "contatos botao"
      "contatos botao"
    ;
  }

  /* EDIT */
  .edit-contact{
    width: 100%;
    height: 500px;
    position:relative;
    top: 0px;
    left: 0px;
    background: none;
  }

  .form-edit{
    padding-right: 20px;
  }

 .header-edit{
    background: none;
    margin: 10px 20px;
    border-bottom: 1px solid rgb(196, 196, 196);
    border-radius:0px;
  
  }

  /* Coluna criar contatos*/
  #formulario{
    margin-right: 40px;
  }

  .grid-template-areas-2 {
    display: grid;
    grid-template-columns: 92%;
    grid-template-rows: 80px 80px 80px 40px 200px;
    grid-template-areas:
      "nome "
      "email "
      "telefone "
      "botao "
      "message "
      ;
  }

  .nome input,
  .email input,
  .telefone input{
    width: 100%;
  }

  .btn-enviar{
    width: 100%;
  }

  .btn-enviar button{
    margin-left: 0px;
  }

  /* caixa de mensagem */

  .error-box-success{
    width: 100%;
  }

  .error-box-erro{
    width: 100%;
  }

  .error-box-erro p{
    border: 1px solid blue;
    margin: 25px auto;
    width: 100%;
  }

  .error-box-success-dois{
    width: 100%;
  }
  
  .error-box-erro-dois{
    width: 100%;
  }

}

/** TABLET **/

@media screen and (min-width:426px) and (max-width:768px){

  body{
    position: relative;
  }
  
  .none{
    display: none;
  }

  #coluna-lateral{
    grid-area: lateral;
  }

  #coluna-principal{
    grid-area: principal;
  } 

  .flex{
    display: grid;
    grid-template-columns: 10% 90%;
	  grid-template-rows: 100px ;
	  grid-template-areas:
		"lateral lateral"
    "principal principal" 
    ;

  }

  .flex > div{
    width: 100%;
    height: 100%;
  }

  /* Coluna Vizualizar contatos */
  .grid-template-areas-1 {
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 0px;
    grid-template-areas:
      "contatos botao"
      "contatos botao"
    ;
  }

  /* EDIT */
  .edit-contact{
    width: 100%;
    height: 500px;
    position:relative;
    top: 0px;
    left: 0px;
    background: none;
  }

  .form-edit{
    padding-left: 40px;
    padding-right: 40px;
  }

 .header-edit{
    background: none;
    margin: 10px 20px;
    border-bottom: 1px solid rgb(196, 196, 196);
    border-radius:0px;
  
  }

  /* Coluna criar contatos*/
  #formulario{
    margin-right: 40px;
  }

  .grid-template-areas-2 {
    display: grid;
    grid-template-columns: 92%;
    grid-template-rows: 80px 80px 80px 40px 200px;
    grid-template-areas:
      "nome "
      "email "
      "telefone "
      "botao "
      "message "
      ;
  }

  .nome input,
  .email input,
  .telefone input{
    width: 100%;
  }

  .btn-enviar{
    width: 100%;
  }

  .btn-enviar button{
    margin-left: 0px;
  }

  /* caixa de mensagem */

  .error-box-success{
    width: 100%;
  }

  .error-box-erro{
    width: 100%;
  }

  .error-box-success-dois{
    margin-top: 15px;
    width: 100%;
  }

  .error-box-success-dois p{
    margin-top: 30px;
    width: 100%;
  }

  
  .error-box-success{
    width: 100%;
  }
 
}

/* Tela de notebook */

@media screen and (min-width:769px) and (max-width:1024px){

  #coluna-lateral{
    grid-area: lateral;
  }

  #coluna-principal{
    grid-area: principal;
  } 

  .flex{
    display: grid;
    grid-template-columns: 20% 80%;
	  grid-template-rows: 100px 100% ;
	  grid-template-areas:
		"lateral principal"
    "lateral principal" 
    ;
  }

  .flex > div{
    width: 100%;
    height: 850px;
  }

  /* Editar contatos */
  /* EDIT */
  .edit-contact{
    width: 50%;
    height: 530px;
    position:relative;
    top: 180px;
    left: 200px;

  }

  .form-edit{
    padding-left: 30px;
    padding-right: 20px;
  }

 .header-edit{
    width: 100%;
    border-bottom: 1px solid rgb(196, 196, 196);
  
  }

  /* Criar contatos */
  .grid-template-areas-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 80px 80px 80px 50px 400px;
    grid-template-areas:
      "nome lateral"
      "email lateral"
      "telefone lateral"
      "botao lateral"
      "message lateral"
    ;
  }

  /*** Barra lateral ***/
  .conteudo-extra{
  padding: 0px 40px;
  }

  /* caixa de mensagem */

  .message{
    margin-right: 30px;
  }

  .error-box-success{
    width: 100%;
  }

  .error-box-erro{
    margin-right: 20px;
    width: 100%;
  }

  .error-box-success-dois{

    width: 100%;
  }

  .error-box-success-dois p{
    width: 100%;
  }

}

@media screen and (min-width:1025px) {

  #coluna-lateral{
    grid-area: lateral;
  }

  #coluna-principal{
    grid-area: principal;
  } 

  .flex{
    display: grid;
    grid-template-columns: 20% 80%;
	  grid-template-rows: 100px 100% ;
	  grid-template-areas:
		"lateral principal"
    "lateral principal" 
    ;
  }

  .flex > div{
    width: 100%;
    height: 760px;
  }

  /* Editar contatos */
  .edit-contact{
    width: 35%;
    height: 530px;
    position:relative;
    top: 110px;
    left: 350px;

  }

  .form-edit{
    padding-left: 40px;
    padding-right: 20px;
  }

 .header-edit{
    width: 100%;
    border-bottom: 1px solid rgb(196, 196, 196);
  
  }

  /* Criar contatos */
  .grid-template-areas-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 80px 80px 50px 400px;
    grid-template-areas:
      "nome lateral"
      "email lateral"
      "telefone lateral"
      "botao lateral"
      "message lateral"
    ;
  }

  /*** Barra lateral ***/
  .conteudo-extra{
  padding: 0px 40px;
  }

  /* caixa de mensagem */

  .message{
    margin-right: 30px;
  }

  .error-box-success{
    width: 100%;
  }

  .error-box-erro{
    margin-right: 20px;
    width: 100%;
  }

  .error-box-success-dois{

    width: 100%;
  }

  .error-box-success-dois p{
    width: 100%;
  }

}